@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}

html {
    scroll-behavior: smooth;
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    color: #B3B3B3;
}

.wrapperContainer-dark {
    background-color: #000;
}

#header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    justify-content: space-between;
    padding: .8rem 8rem;
    position: sticky;
    top: 0;
}

.headerLogo {
    display: inline-block;
    transition: .2s ease-in-out;
}

.headerLogo:hover {
    transform: scale(1.1);
}

.headerNav a {
    color: #fff;
    text-decoration: none;
    padding-left: 2rem;
    transition: .2s ease-in-out;
    display: inline-block;
}

.headerNav a:hover {
    transform: scale(1.1) ;
}

.mainContainer {
    color: #fff;
    
}

.mainHeroBanner {
    background-image: url(../images/hero-banner.png);
    background-size: cover;
    background-position: center;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainHeroBanner img {
    width: 22rem;
    border-radius: 50%;
}

#mainTitle {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 2rem;
    color: #fff;
}

#mainSubtitle {
    font-size: 2rem;
    color: #1DB954;
}

.mainDescription {
    font-size: 1.1rem;
    margin-top: 2rem;
    color: #B3B3B3;
}

.greenBtn {
    display: inline-block;
    background-color: #1DB954;
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 2rem;
    transition: .3s;
}

.greenBtn:hover {
    background-color: #179342;
}

/* separator */

.wrapperContainer-gray {
    background-color: #111;
}

.articleContainer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 6rem;
}

.articleContent {
    text-align: center;
    max-width: 12rem;
}

.articleContent i {
    font-size: 6rem;
    margin: 1.5rem 0;
    color: #B3B3B3;
}

.articleContent h4 {
    font-size: 1.5rem;
    color: #535353;
}

/* about */

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    min-height: 80vh;
}

.aboutBox1 {
    max-width: 40%;
}

.aboutTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #1DB954;
}

.aboutText {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 2.5rem;
    border-top: 2px solid #1DB954;
}

.aboutSocialIcons {
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 1.2rem;
}

.aboutSocialIcons i {
    color: #1DB954;
}

.aboutBox2 {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

.aboutBox2 img {
    width: 230px;
    border-radius: 50%;
}

/* portfolio */

.portfolioContainer {
    padding: 3rem 8rem;
    min-height: 80vh;
}

.portfolioTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #1DB954;
}

.portfolioText {
    font-size: 1.3rem;
    border-top: 2px solid #1DB954;
    display: inline-block;
}

.portfolioBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
    
}

.portfolioCard {
    max-width: 20rem;
    background-color: #000;
    padding: .6rem;
    border-radius: 1rem;
}

.portfolioBox img {
    width: 300px;
    border-radius: 1rem;
}

.portfolioCard p {
    color: #B3B3B3;
    font-size: 1.3rem;
    margin-top: .5rem;
}
